@model IEnumerable<ResidentEvil.Models.Entities.clsAnciano>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>confirmarEliminacion</title>
</head>
<body>
    <p>Eliminación realizada con éxito</>
    <br /><br />
        @Html.ActionLink("Ir a lista", "Lista")
    
   
</body>
</html>
